
.title--home {
    background-image: url(../images/company.jpg);
}

.description--home {
    padding: 3em 10em;
    padding-right: 5em;
}

.description--home > div {
    display: flex;
}

.description--home p {
    padding: 3em;
}

.description--home img {
    width: 45vw;
}

.grid--home img {
    width: 100%;
}

.grid--home div {
    padding: 5em;
}